#copyRight{
	text-align: center;
}
#footer{
	background-color: #D1C4E9;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}
.row-header{
	margin: 0px auto;
	padding: 0px auto;
	font-size: 80%;
}
.jumbotron{
	padding: 70px 30px 70px 30px;
	margin: 0px auto;	
	background: #9575CD;
	color: floralwhite;
}
.align-self-center{
	padding: 70px 70px 70px 70px;
}
.align-sm-center{
	padding: 15px 15px 15px 30px;
}
.para{
	width: 72%;
}
.navbar-color{
	background-color: #492e9e;
}
.center{
	margin:auto;
	width:50%;
}
.this{
	padding-top:70px;
}
.object{
		text-align: center;
		margin: auto;
}
.tabs{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}
.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
.sectionB{
	padding: 2px 2px 2px 2px;
}
#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
.modal-mod {
	background: #D1C4E9;
}

.modal-header {
	background: #512DA8;
}

@media (min-width: 320px) and (max-width: 480px) {
	h1{
		font-size: 36px;
	}
	.jumbotron{
		margin: 0px auto;	
		background: #9575CD;
		color: floralwhite;
	}
	.col-12{
		margin: 0px auto;
		padding: 0px;
	}
	.our{
		padding: 15px;
	}
	.mobile{
		width: 50%;
		float:left;
	}
	.navbar-color{
		background-color: #492e9e;
	}
	.object{
		text-align: center;
		margin: auto;
	}
	.align-self-center{
	padding: 35px 35px 35px 35px;
}
}